<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/css/app.css" />
    <title>Tasks API</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css"
    />
    <script defer src="build/app.js"></script>
  </head>
  <body>
    <header id="app-header">
      <img src="/favicon.ico" width="80" />
      <h1>Tasks API</h1>
    </header>
    <input type="text" placeholder="Task ID" id="id" />
    <div>
      <p id="status-code"></p>
      <button id="get-trigger">GET</button>
      <button id="post-trigger">POST</button>
      <button id="put-trigger">PUT</button>
      <button id="del-trigger">DELETE</button>
    </div>
    <textarea id="req-output"></textarea>
  </body>
</html>
